.container {
  margin: 15px;
  max-width: 400px;
  font-family: "Lato", sans-serif;
  color: teal;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header {
  padding: 20px 40px;
  text-align: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
}

.heading {
  margin: 0;
  line-height: 1.5;
  color: inherit;
  letter-spacing: 1px;
}

.paragraph-required {
  font-size: 12px;
  padding: 5px 0 0 10px;
  letter-spacing: 1px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px 30px 20px;
  align-items: center;
}

.form-control-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.form-label-padding {
  padding-left: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #ddd8d8;
  border-radius: 4px;
}

.form-control-textarea {
  resize: vertical;
}

.form-paragraph {
  font-size: 18px;
}

.form-button {
  display: block;
  margin-top: 20px;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  background-color: teal;
  border: 1px solid teal;
  border-radius: 4px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.form-button:hover {
  background-color: rgb(16, 160, 160);
}
